[Unit]
Description=Service Monitor (Raspberry Pi)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=chanpi
WorkingDirectory=/home/chanpi/raspberrypi-monitor
ExecStart=/home/chanpi/raspberrypi-monitor/venv/bin/python3 /home/chanpi/raspberrypi-monitor/monitor.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
